<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 회수 -->
<mapper namespace="com.ddis.ddis_hr.eapproval.query.mapper.DraftDocumentMapper">

    <resultMap id="DraftMap" type="com.ddis.ddis_hr.eapproval.query.dto.DraftDTO">
        <id     column="doc_id"           property="docId"/>
        <result column="doc_title"        property="docTitle"/>
        <result column="created_at"       property="createdAt"/>
        <result column="submitted_at"     property="submittedAt"/>
        <result column="doc_status"       property="status"/>
        <result column="employee_name"    property="writer"/>
        <result column="form_name"        property="type"/>
        <result column="next_approver" property="approver"/>
    </resultMap>

    <select id="selectDraftsByDrafter" resultMap="DraftMap">
        SELECT
        d.doc_id,
        d.doc_title,
        d.created_at,
        d.submitted_at,
        d.doc_status,
        e.employee_name,
        f.form_name,
        -- 서브쿼리: approved_at IS NULL 이고 step ASC 첫 번째 name
        (
        SELECT e2.employee_name
        FROM approval_line al2
        JOIN employee e2 ON al2.employee_id = e2.employee_id
        WHERE al2.doc_id = d.doc_id
        AND al2.approved_at IS NULL     -- 아직 결재 안 된 사람
        AND al2.employee_id &lt;&gt; d.employee_id  -- 기안자는 제외
        ORDER BY al2.step
        LIMIT 1
        ) AS next_approver
        FROM draft_documents d
        LEFT JOIN employee e ON d.employee_id = e.employee_id
        LEFT JOIN document_form f ON d.form_id = f.form_id
        WHERE d.employee_id = #{employeeId}
        ORDER BY d.submitted_at DESC
    </select>

</mapper>
